@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,400&display=swap');

body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}